@using ToDoList.Business.Entities
@model ToDoList.Models.EditCategoryViewModel

<div class="row">
    @await Html.PartialAsync("../Shared/_PageHeader.cshtml")
    <div class="col-12">
        <div class="form-container shadowed">
            <div asp-validation-summary="All"></div>
            <form class="category-form w-100" asp-action="Edit" method="Post">
                <input asp-for="EditedName" type="hidden" />
                <div class="form-group">
                    <div class="form-group-item col-12">
                        <label asp-for="Category.Name">Name</label>
                        <div class="d-flex flex-wrap align-items-stretch">
                            <div class="col-9 col-md-10">
                                <input asp-for="Category.Name" />
                            </div>
                            <div class="col-3 col-md-2 ps-2">
                                <input class="button button-success w-100" type="submit" value="Edit" />
                            </div>
                        </div>
                    </div>  
                </div>
            </form>
        </div>
    </div>
</div>